@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

input,select,.btn{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.btn{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
}

.btn:hover{
    box-shadow: 0 0 5px #21b5e2;
}

.done > .todo-item-title,
.done > .todo-item-description,
.done > .todo-item-priority,
.done > .todo-item-deadline{
    text-decoration: line-through;
}

.done .button-item-edit{
    display: none;
}

.button-add{
    position: fixed;
    top: 50px;
    left: 50px;
    width: 150px;
}

.content{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-item{
    max-width: 500px;
    margin-bottom: 20px;
    max-height: 400px;
    padding: 15px 50px;
    border-radius: 15px;
    width: 100%;
    box-shadow: inset 0 0 30px #b7deed, -5px 10px 20px #4e97d88a;
}

.todo-item-title{
    text-transform: uppercase;
}

.todo-item-priority{
    margin-bottom: 10px;
}

.todo-item-footer{
    display: flex;
    margin-top: 20px;
}

.todo-item-footer .btn{
    transform: scale(0.9);
}

.button-item-done{
    width: 155px;
    margin-left: auto;
}


.modal-background{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.82);;
    display: none;
    padding: 100px 15px;

}

.modal-content{
    /*background-color: #fae745;*/
    background-color: white;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: inset 0 0 115px #b7deed, -5px 10px 20px #4e97d88a;
}

.modal-content > *{
    width: 100%;
}

.modal-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title span{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #21b5e2;
    color: #21b5e2;
}

.modal-title span:hover{
    box-shadow: 0 0 5px #21b5e2;
}

.modal-title h3{
    text-transform: uppercase;
    font-size: 23px;
    text-shadow: 0 0 5px #21b5e2, 2px 0 0 #21b5e2, -2px 0 0 #21b5e2, 0 2px 0 #21b5e2, 0 -2px 0 #21b5e2;
    color: white;
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.modal-form > input, .modal-form > select{
    padding: 5px;
    margin: 7px 0;
    border: 1px solid #21b5e24f;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px #b7deed;
    height: 40px;
}

.modal-form-footer{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.button-form-add, .button-form-cancel{
    height: 50px;
    width: 100px;
    margin-left: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}


